.header {
  min-height: 120px;
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  width: 346px;
  height: 66px;
  object-fit: contain;
}
