.app {
  background: #000;
}

.app__content {
  padding: 0 40px;
  background-color: black;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}
